scikit-image~=0.18.3
tensorboardX~=2.5
nose
imageio~=2.9.0
scikit-learn~=1.0.2
numpy~=1.20.3
Pillow~=8.3.2
matplotlib~=3.4.3
ipython~=7.27.0
torch~=1.9.0
torchvision~=0.10.0
scipy~=1.7.1
numba~=0.54.0
svgpathtools~=1.4.1
diffvg~=0.0.1
visdom~=0.1.8.9
cssutils~=2.3.0
pytest~=7.1.1
setuptools~=44.0.0
opencv-python~=4.5.4.60
PyYAML~=5.4.1
tqdm~=4.62.2
easydict~=1.9
wheel~=0.37.1
bezier~=2021.2.12
Shapely~=1.8.2
requests~=2.26.0
clip~=1.0
moviepy~=1.0.3